.evo {
  font-size: 14px;
  margin-bottom: 100px;

  &__dark {
    background-color: $dark-grey-color;
    padding: 100px 0 50px;
    color: $white-color;
  }

  &__inner-dark {
    position: relative;

    &::before {
      content: '';
      background-image: url("../images/evo/evo-dec1.svg");
      width: 185px;
      height: 213px;
      top: 210px;
      left: -130px;
      position: absolute;
    }

    &::after {
      content: '';
      background-image: url("../images/evo/evo-dec2.png");
      width: 498px;
      height: 572px;
      top: 290px;
      left: -40px;
      position: absolute;
    }
  }

  &__content-dark {
    display: flex;
    justify-content: space-between;
    // gap: 192px;
  }

  &__title {
    font-size: 32px;
    font-weight: 300;
    padding-right: 50px;
    // color: $white-color;
    text-transform: uppercase;
  }

  &__description-dark {
    flex-basis: 438px;
    display: flex;
    flex-direction: column;
    gap:30px;
  }

  &__text-dark {
    // color: $white-color;
    font-size: 400;
  }

  &__img-dark {
    display: block;
    margin: 200px auto 60px;
    position: relative;
    z-index: 2;
  }

  &__descr-list {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    gap: 0 65px;
  }

  &__descr-name {
    text-transform: uppercase;
  }

  &__light {
   
  }

  &__inner-light {
    padding-top: 125px;
    position: relative;
    
    &::before {
      content: '';
      background-image: url("../images/evo/dec3.png");
      width: 274px;
      height: 257px;
      top: -40px;
      left: 360px;
      position: absolute;
    }

    &::after {
      content: '';
      background-image: url("../images/evo/dec4.png");
      width: 324px;
      height: 311px;
      top: 116px;
      left: 600px;
      position: absolute;
    }
  }

  &__text-light {
    margin-bottom: 30px;

    &:first-child {
      max-width: 285px;
    }

    &:nth-child(2) {
      max-width: 437px;
    }

    &:nth-child(3) {
      max-width: 590px;
    }
  }

  &__video {
    margin-top: 100px;
    background-image: url("../images/evo/evo-video.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__video-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__video-text {
    color: $white-color;
  }
}