.info {
  margin-bottom: 100px;

  @include on840 {
    margin-bottom: 80px;
  }

  @include on560 {
    margin-bottom: 60px;
  }

  @include on340 {
    margin-bottom: 40px;
  }

  &__part {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;

    @include on768 {
      padding-top: 50px;
    }

    &--first {
      display: block;
    }

    &--second {
      @include on840 {
        display: block;
      }
    }

    &--third {
      padding-top: 66px;

      @include on840 {
          display: block;
        }
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__content {

    &--first {
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }

    &--second {
      flex-basis: 50%;

      @include on840 {
        display: block;
      }
    }

    &--third {
      flex-basis: 50%;

      @include on840 {
        display: block;
      }
    }

    @include on840 {
      display: block;
      // padding-bottom: 16px;
    }
  }

  &__text {
    flex-basis: 50%;
    margin-bottom: 30px;
    // padding-top: 30px;

    &--bold {
      font-weight: 700;
    }

    &--second {
      max-width: 352px; 

      @include on840 {
        max-width: 100%;
      }
    }

    &--third {
      max-width: 377px;

      @include on840 {
          max-width: 100%;
        }
    }
  }

  &__img {
    object-fit: cover;

    @include on840 {
      width: 100%;
    }
  }

  &__table {
    flex-basis: 450px;
    border-bottom: 1px solid $black-color;
    position: relative;
    top: 20px;

    &::before {
      content: "";
      border-top: 1px solid $black-color;
      position: absolute;
      width: 100%;
      top: -20px;
    }

    @include on840 {
      width: 100%;
    }
  }

  &__table-td {
    padding-bottom: 20px;

    &:nth-child(2) {
      @include on560 {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}