.nav {
    display: flex;
    justify-content: space-between;

    &__menu-list {
        display: flex;
        column-gap: 40px;
        padding-top: 25px;

        &--left {
            padding-left: 25px;
        }

        &--right {
            padding-right: 80px;
            margin-left: 10px;
        }
    }

    &__link {
        font-size: 16px;
        color: $dark-grey-color;
    }
}